.x-form-type-text {
  color: white;
}

/* For the placeholder text */
.white-text-input input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.x-btn-inner-default-small {
  color: white !important;
}

.x-keyboard-mode .x-form-checkbox-focus.x-form-checkbox-default{
  color: #FFA559 !important;
}